/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff !important;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a {
  color: rgb(85, 85, 85) !important;
  text-decoration: none !important;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.fixed {
  position: fixed;
  display: block;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.profile-img {
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.bg-f7ce46 {
  background-color: #f7ce46;
}

.banner-left {
  align-self: center;
}
.col-hello {
  padding-top: 50px;
}
.hello-bg {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 20px;
  color: #fff;
  display: inline-block;
  background: #181715;
}
.hello-style {
  font-weight: bold;
  font-size: 60px;
  background-color: #fff;
}
.banner-content {
  font-size: 35px;
  font-weight: 600;
  text-shadow: 5px 5px #ddaa01;
}
.about-heading {
  text-align: center;
  padding-top: 10vh;
}

.about-heading h1 {
  font-size: 30px;
  font-weight: bold;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 40px 0px 0px;
}
.banner-right {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.profile {
  text-align: center;
  margin-top: 40px;
}
.about {
  display: flex;
  padding: 0px;
}
.about-right {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: justify;
  padding: 30px 50px 30px;
}
.Skils {
  text-align: center;
}
.skils-logos {
  display: flex;
  text-align: center;
}
.padding-t-b-1rem {
  padding-top: 2.5rem !important;
  padding-bottom: 1.5rem !important;
}
.padding-b-2rem {
  padding-bottom: 2.5rem;
}
.padding-b-1rem {
  padding-top: 1rem !important;
  padding-bottom: 1.5rem !important;
}
.Experience {
  padding: 0px 50px;
}
.Experience-right {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: justify;
  padding: 30px 5px 30px;
}
.Experience-left {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: justify;
  padding: 30px 50px 30px;
}
.col-6 {
  text-align: center !important;
}
.btn-warning {
  border: 1px solid #000;
}
.btn-warning:hover {
  background-color: #000;
  color: #f7ce46;
}
.form-group {
  padding: 5px !important;
}
.form-control {
  background-color: #f6cf46;
}
.btn-space {
  padding-top: 20px;
  padding-left: 5px;
}
.btn-width {
  width: 130px;
}
.bgcolor-282728 {
  background-color: #282728;
}
.copy-content {
  display: flex;
  text-align: center;
  height: 10vh;
  padding: 3vh 0vh;
}
.t-align-j {
  text-align: justify;
  padding-right: 75px;
}
.blog-card {
  border: 1px solid #181715;
  border-radius: 10px;
}
.b-r-10 {
  border-radius: 10px;
}
.blog-title p {
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 0rem !important;
}
.blog-text {
  text-align: justify;
  padding: 5px 15px;
}
.blog-cards {
  padding: 5px;
}
.exp-title {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding: 0px 30px;
}
.exp-content {
  text-align: justify;
  padding: 0px 30px;
}

.order-md-2 {
  margin: auto;
}
